<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Soccer Store</title>

    <!-- Loading Flat UI -->
    <%= stylesheet_link_tag "css/flat-ui" %>
    <link rel="shortcut icon" href="images/favicon.ico">

  </head>
  <body>
    <h1>New product</h1>

    <%= render 'form' %>

  </body>

  <%= link_to 'Back', products_path %>

</html>

